<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="/" class="nav-el">Home</a>
        {{#if loggedIn}}
          {{#unless isDashboard}}
            <a href="/dashboard" class="nav-el">Dashboard</a>
          {{/unless}}
          <button id="logout" class="nav-el">Logout</button>
        {{else}}
          <a href="/login" class="nav-el">Login</a>
        {{/if}}
      </nav>
      <div class="title">
        {{#if isDashboard}}
          Your Dashboard
        {{else}}
          The Tech Blog
        {{/if}}
      </div>
    </header>
    <main>
      <div class="gutter"></div>
      <div class="col">
      {{{body}}}
      </div>
      <div class="gutter"></div>
    </main>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

    <div id="modal" class="modal">
      <div id="modal-message" class="modal-message">
      </div>
      <button id="modalOk" class="btn-no-style">OK</button>
    </div>
    <script src="/javascript/modal-message.js"></script>
  </body>

</html>