<article>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" value="{{post.title}}" />

      <label for="post-contents">Contents</label>
      <textarea id="post-contents" name="post-contents">{{post.post_contents}}</textarea>
    <div>
    <button class="btn" type="submit">Save edits</button>
    <button class="btn warn" type="button" id="delete-btn">Delete post</button>
    </div>
  </form>
</article>

<form class="comment-form">
    <label>Comment</label>
    <textarea name="comment-body"></textarea>


  <div>
    <button class="btn" type="submit">Add Comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>