{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <label>Comment</label>
    <textarea name="comment-body"></textarea>


  <div>
    <button class="btn" type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}