* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

header {
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 20px 0 10px 30px;
  margin-bottom: 10px;
}

.nav-el {
  margin-right: 5px;
  border: 1px black solid;
  padding: 5px;
}

.nav-el:hover {
  border: 1px white solid;
  border-radius: 2px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

main {
  display: flex;
}

.gutter {
  flex: 0 1 10%;
}

.col {
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 2rem;
  text-shadow: 2px 2px 1px grey;
}

article {
  margin-bottom: 15px;
}

.post {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

.post .post-title {
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.post .post-title .right {
  margin-right: 5px;
  padding: 5px;
  font-size: 0.75rem;
}

.post .content {
  padding: 10px;
}

.hide {
  display: none;
}

.modal {
  display: none;
}

.modal.show {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  color: white;
}

.modal-message {
  background-color: rgba(0, 0, 0, 0.85);
  border: white 1px solid;
  border-radius: 10px;
  font-size: 2rem;
  padding: 10px;
}
